.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.checkButton {
  label {
    opacity: 0.8;
    border: 1px solid var(--color-comment);
    font-size: 85%;
    white-space: nowrap;
    user-select: none;

    &:hover {
      opacity: 1;
    }
  }

  input:checked + label {
    opacity: 1;
    border-color: var(--color-font);
    box-shadow: var(--color-font) 0px 0px 0px 2px;
  }

  input:focus + label {
    background-color: var(--color-surface);
  }
}
